@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

body {
  overflow-x: hidden;
}

@theme {
  --color-dark-color: #0d1117;
  --font-bebas-neue: "Bebas Neue", sans-serif;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
